<!-- Change password form -->
<form id="change-password" class="">
  <h2>Change Password</h2>
  <input type="password" name="passwords[old]" placeholder="Old Password" required>
  <input type="password" name="passwords[new]" placeholder="New Password" required>
  <button class="button btn btn-success">Change Password</button>
</form>

<!-- Sign out form -->
<form id="sign-out" class="">
  <h2>Sign Out</h2>
  <button class="button btn btn-success">Sign Out</button>
</form>
