<!-- Chatbox -->
<div class="row justify-content-center mt-2">
  <div class="col-10">
  <form class="mt-1" id="messageForm" action="">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Something funny" id="m" autocomplete="off">
      <div class="input-group-append">
        <button class="btn btn-gradient" id="button-addon2">Send</button>
      </div>
    </div>
  </form>
</div>
  <div class="col-10 card mb-1" style="overflow-y: scroll; height:400px">
      <div class="card-body" id="chatbox">
        <div id="messages"></div>
        <div id="chat-end"></div>
      </div>
    </div>
  </div>
