<!-- Main-body: changes with Handlebars -->
    <div class="main-body">
      <div class="py-3 row justify-content-center" style="width: 980px; margin:0 auto">

        <!-- Front Page Left -->
        <div class="front_page_left col-6 mr-5" style="width:565px">
          <h2 class="left_h2">
            Welcome to ChatBox!
          </h2>
          <img src="public/logo.jpg" class="center">
        </div>
        <div class="front_page col-4 ml-3" style="width: 399px">

          <!-- Front Page Right -->
          <h2>Sign Up</h2>
            <h5>Let's get chatting!</h5>
          <form class="signupForm" id="sign-up">
            <input class="form-control mt-3" type="email" name="credentials[email]" placeholder="Email@example.com" required>
            <input class="form-control mt-3" type="text" name="credentials[username]" placeholder="Username" required>
            <input class="form-control my-3" type="password" name="credentials[password]" placeholder="New Password" required>
            <input class="form-control mb-3" type="password" name="credentials[password_confirmation]" placeholder="Confirm Password" required>
            <button class="btn btn-gradient px-5 mb-5">Sign up</button>
          </form>
          <!-- Guest for Quick Testing
          <button id="guest" class="btn btn-primary px-5 my-2 guest">el@el</button>
          <button id="guest2" class="btn btn-warning px-5 my-2 guest">be@be</button> -->
        </div>
      </div>
    </div>
