{{#each messages as |message| }}
<li data-id="{{message._id}}" class="justify-content-center">
  {{message.text}}
  <div class="row justify-content-center">
    <button class="col btn btn-warning update-message" type="button" data-toggle="modal" data-id="{{message._id}}">Update</button>
    <button class="col btn btn-danger delete-message" data-id="{{message._id}}">Delete</button>
  </div>
</li>
{{/each}}
